/* For testing only */

*:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}

.columns {
  min-height: 100px !important;
}

/* End for testing */

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/* object-fit: cover */

@font-face {
  
}

.container {
  width: 95%;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

/* Nav styles -------------- */

.nav {
  position: aboslute;
}

ul {
  list-style-type: none;
  padding-left: 0;
}
