/* For testing only */

*:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}

.columns {
  min-height: 100px !important;
}

/* End for testing */

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/* object-fit: cover */

@font-face {
  font-family: 'minion-pro';
  src: url("../fonts/Minion Pro Regular.ttf");
}

.container {
  width: 95%;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

body {
  background-color: black;
  font-family: 'minion-pro', sans-serif;
}

/* Nav styles -------------- */

.nav {
  position: aboslute;
  background-color: white;
}

.nav h3 {
  padding: 0 1em 0 1em;
  margin-bottom: 0;
  font-size: 1.3em;
}

ul {
  list-style-type: none;
  padding: .6em .6em .6em 1em;
  background-color: #F4F4F4;
  overflow: auto;
  margin-bottom: 0;
  margin-top: .3em;
}

ul li {
  float: left;
  margin-right: 3%;
}

/* MAINBOX styles -------------- */

/* FEATURED PROJECT styles -------------- */

/* FEATURED PRESS  (BOX 2) styles -------------- */

/* DESCRIPTION (BOX 3) styles -------------- */

.description img {
  display: none;
}
